
$font-size-base: 0.81rem;
$h1-font-size: 1.75rem;
$body-color: #062033;
$h2-font-size: 28px;
$container-max-widths: (
  xl: 1170px
) !default;
$navbar-dark-color:#fff !default;
$h3-font-size: 1.25rem;
$nav-pills-link-active-bg: #0eb493;
