$nav-grey: #5b6168;
$nav-active: #23b7a4;
$headings-colour: #292f36;
$headings-border-colour: #e1e6ea;
$color-white: #fff;
$border-color-blue:#32b0ee;
$font-family-sans:'Open Sans', sans-serif; 
$h2-color: #0eb493;
$font-weight:400;
$font-size:13px;
$color-grey:#cccccc;
$main-color:#062033;
$h2-heart-color:#c3c6c7;

